@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Exception exception = ViewData["Exception"] as Exception;
}

<style>

    body{
        background-image: url(./img/837360676.jpg);
        width: 100%;
        background-size: cover;
    }

</style>

@* 这是一个笑话 *@
<div style="padding-top:50px;padding-left:550px;color:black;font-size:16px;font-weight: bold;">
    
    <h1 style="color:red">人类的悲伤并不相同,请联系管理员</h1>
    <p>
        <h1>Development</h1> 
    </p>
    <p>
        <h2>@exception.Message</h2>
    </p>
</div>

