<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
	  
    <target name="log_error" xsi:type="File"  fileName="${basedir}/Logs/Error/${shortdate}.txt"
                layout="${longdate} ${level} ${message} " />
    <target name="log_info" xsi:type="File"  fileName="${basedir}/Logs/Info/${shortdate}.txt"
          layout="${longdate} ${level} ${message} ${stacktrace}" />
  </targets>

  <rules>
    <logger name="*" levels="Error"   writeTo="log_error"/>


	  <logger name="Microsoft.*" minlevel="Trace" final="True"></logger>
	  
    <logger name="*" levels="Info"   writeTo="log_info"/>
  </rules>
</nlog>